<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>Menu</title>
</head>

<body>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Day</th>
                <th scope="col">mealType</th>
                <th scope="col">dishes</th>
                <th scope="col">rating</th>
                <th scope="col">Edit link</th>
            </tr>
        </thead>
        <tbody>
            <%for(let x of menuList){%>
            <tr>
                <td><%= x.day %></td>
                <td><%= x.mealType %></td>
                <td><%= x.dishes %></td>
                <td><%= x.rating %></td>
                <td><a href="/admin/menu/<%=x._id%>/edit">Edit</a></td>
            </tr>
            <%}%>
        </tbody>
    </table>
</body>

</html>